body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container img {
    width:  20vw;
    height: auto;
    position: absolute;
    transition: 0.5s;
}

.dragon {
    width:  20vw;
    height: auto;
    padding: 18px;    
}

.dragon:hover img:nth-child(4) {
    transform: translateY(-1.4em);
    opacity: 1;
}

.dragon:hover img:nth-child(3) {
    transform: translateY(-1em);
    opacity: 0.8;
}

.dragon:hover img:nth-child(2) {
    transform: translateY(-0.6em);
    opacity: 0.6;
}

.dragon:hover img:nth-child(1) {
    transform: translateY(-0.2em);
    opacity: 0.4;
}

.phoenix {
    width:  20vw;
    height: auto;
    padding: 18px;
}

.phoenix:hover img:nth-child(4) {
    transform: translateY(-1.4em);
    opacity: 1;
}

.phoenix:hover img:nth-child(3) {
    transform: translateY(-1em);
    opacity: 0.8;
}

.phoenix:hover img:nth-child(2) {
    transform: translateY(-0.6em);
    opacity: 0.6;
}

.phoenix:hover img:nth-child(1) {
    transform: translateY(-0.2em);
    opacity: 0.4;
}

.unicorn {
    width:  20vw;
    height: auto;
    padding: 18px;
}

.unicorn:hover img:nth-child(4) {
    transform: translateY(-1.4em);
    opacity: 1;
}

.unicorn:hover img:nth-child(3) {
    transform: translateY(-1em);
    opacity: 0.8;
}

.unicorn:hover img:nth-child(2) {
    transform: translateY(-0.6em);
    opacity: 0.6;
}

.unicorn:hover img:nth-child(1) {
    transform: translateY(-0.2em);
    opacity: 0.4;
}