* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background: teal;
    overflow: hidden;
    position: absolute;
}

.sliding {
    position: absolute;
    white-space: nowrap;
    font-size: 20vh;
    top: 50%;
    overflow: hidden;
    /*clip the text of the div*/
    animation: bgColorAndText 10s linear infinite;
}

@keyframes bgColorAndText {
    0% {
        transform: translate(0, -50%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

.wrapper {
    background-color: turquoise;
    width: 50vw;
    height: 100vh;
    overflow: hidden;
    /*shows and clip the content of the div*/
    color: white;
    position: absolute;
}